a {
    display: inline-block;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

i.bi {
    line-height: 0;
}

:root {
    --primary-color: ;
    --secondary-color: #fae26f;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    color: white;
    border-bottom: solid 1px #ffffff33;
}

header .navbar-fixed {
    box-shadow: #00000014 0px 1px 7px 0;
}

header:has(.navbar-fixed) {
    background: #fff;
    color: var(--primary-color);
}

section:not(#hero-banner, #challanges) {
    padding: 50px 0;
}

#hero-banner {
    background: url('../landing-img/banner.png');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    position: relative;
    z-index: 1;
}

#hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.681), transparent);
    z-index: -1;
}

#hero-banner .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#hero-banner .container .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#hero-banner .content h1,
#hero-banner .content h1 span {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}

#hero-banner .content h1 span {
    display: block;
    /* color: #4bff7e; */
    background: linear-gradient(to right, #4bff7e, #b7ff4b, #ffe760);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.point-pill {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #ffffff21;
    padding: 7px 10px;
    border-radius: 100px;
    border: solid 1px #ffffff4f;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 400;
}

#hero-banner .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

#hero-banner h1+p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 750px;
}

#hero-banner .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

#hero-banner .buttons a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

#hero-banner .buttons .contact {
    background: #fae26f;
    color: #000;
}

#hero-banner .buttons .view {
    background: #4bff7e;
    color: #000;
}

.dot-points {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.dot-points li {
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    display: flex;
    gap: 5px;
}

.dot-points i {
    font-size: 8px;
    color: #4bff7e;
    line-height: 1;
}


.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    gap: 10px;
}

.titles {
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0 5px;
}

.titles>* {
    margin: 0;
}

.titles h2 {
    font-size: 29px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.titles p {
    font-size: 17px;
    font-weight: 400;
    color: #00000078;
    max-width: 700px;
    line-height: 1.3;
}

.card {
    /* border: solid 2px #f0f0f0; */
    border: solid 1px transparent;
    height: 100%;
    display: flex;
    padding: 15px;
    gap: 10px;
    min-height: 120px;
    align-items: flex-start;
    /* border: none; */
    /* background: #FFF6FF; */
    transition: 0.3s ease-in-out;
}

.card:hover {
    /* border-color: inherit; */
    /* border-color: #3bb877; */
    box-shadow: 1px 21px 19px -9px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 21px 19px -9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 21px 19px -9px rgba(0, 0, 0, 0.2);
    border-color: #3bb877;
}

.card.right {
    flex-direction: row;
    /* border-color: #ff000014; */
    background: #fff6f6;

}

.card.right:hover {
    /* border-color: inherit; */
    border-color: rgba(255, 0, 0, 0.415);
}

.card * {
    margin: 0;
}

.card .icon-box {
    padding: 5px;
    background: #3bb87721;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #3bb877;
    /* width: max-content; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .data {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 10px;
}

.card h3 {
    font-size: 17px;
    font-weight: 500;
}

.card p {
    font-size: 14.5px;
    color: #0000008d;
    line-height: 1.3;
}

#challanges .card .icon-box {
    background: #ff000021;
    color: red;
}

/* #why-us{
    background: url('../landing-img/bg.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
} */

#why-us .card {
    background: #3bb8770f;
}

#game-changer .contents {
    /* background: #000000; */
    color: white;
    border-radius: 20px;
    margin: 10px;
    background-image:
        linear-gradient(to top, #000000, #00000066),
        url('../landing-img/container.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 10px;
    /* background-blend-mode: overlay; */
    /* background-attachment: fixed; */
}

.pill-heading {
    line-height: 1.2;
    width: max-content;
    margin: 0 auto;
    background: #ffffff1f;
    padding: 10px;
    border-radius: 100px;
    border: solid 1px #ffffff0d;
    font-size: 15px;
}

#game-changer h2 {
    color: yellow;
}

#game-changer h2+p {
    color: rgba(255, 255, 255, 1);
}

#game-changer .lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    /* background: #ffffff0d; */
    background: #040404d1;
    border-radius: 20px;
    padding: 20px;
    /* border: solid 1px #ffffff14; */
    border: solid 1px #ffffff1f;
    /* backdrop-filter: blur(15px); */
}

#game-changer .lists.challange li {
    color: rgb(255, 170, 170);
}

#game-changer .lists.challange h4 i {
    color: #ff0000;
}

#game-changer .lists.challange li span {
    background: #ff00001f;
    padding: 5px 6px;
    /* color: #94ffc8; */
    color: #ff0000;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
}

#game-changer .lists li {
    display: flex;
    gap: 5px;
}

#game-changer .lists ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#game-changer .lists.solution h4 i {
    color: #94ffc8;
}

#game-changer .lists.solution li {
    color: #62ffae;
}

#game-changer .lists.solution li span {
    background: #71ffb61f;
    padding: 5px 6px;
    color: #94ffc8;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
}


#contact-us{
    background: linear-gradient(60deg, #3bb877, #4bff7e,#029c2e);
}

/* responsive */

@media screen and (max-width: 992px) {
    .card.right {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    #hero-banner .content h1,
    #hero-banner .content h1 span {
        font-size: 40px;
    }

    #hereo-banner h1+p {
        font-size: 16px;
    }

    .dot-points li {
        font-size: 15px;
        font-weight: 300;
        gap: 10px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 576px) {
    #hero-banner .container {
        align-items: flex-end;
        padding-bottom: 50px;
    }

    #hereo-banner h1+p {
        font-size: 16px;
    }

    .dot-points li {
        font-size: 14px;
        font-weight: 200;
        gap: 10px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 425px) {
    #hereo-banner h1+p {
        font-size: 15px;
        font-weight: 300;
        color: #ffffffd0;
    }
    .dot-points{
        flex-wrap: wrap;
    }
}