:root {
    --bg: #EBECEB;
    --bg-alt: #1B323D;
    --bg-alt-2: #043625;
    --light: #ffffff;
    --primary: #136c4e;
    --primary-text: #002f1f8f;
    /* --primary-text:#002f1f80; */
    --primary-text-dim: #136c4ecc;
    --primary-icon: #3BB877;
    --secondary: #cfd35a;
    --secondary-text: #afb879;
    --secondary-text-dim: #ffffffbf;
    --secondary-dim: #cfd35a9c;
    --secondary-bg-dim: #c6ce4d1a;
    --secondary-border-dim: #c6ce4d80;

    --heading-1: 60px;
    --heading-2: 45px;
    --heading-3: 25px;
    /* --heading-4: 18px; */
    --text-1: 16px;
    --text-3: 15px;
    --text-2: 18px;
    --font-text-line-height: 1.4;
    --font-text-letter-spacing: -0.02em;
    /* --font-primary: 45px; */
}

html,
body {
    overflow-x: hidden;
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

span {
    display: inline-block;
}

.py-60 {
    padding: 60px 0;
}

.py-70 {
    padding: 70px 0;
}

.py-80 {
    padding: 80px 0;
}

.py-100 {
    padding: 100px 0;
}

/* section:not(#hero){
    padding: 60px 0;
} */

/* ********* design system ********** */

body {
    /* display: flex; */
    flex-direction: column;
    gap: 140px;
    align-items: center;
    /* margin-top: 80px; */
    background-color: var(--bg);
    font-family: "DM Sans", sans-serif;
}

p {
    font-size: var(--text-1);
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: var(--primary-text);
}

section {
    padding: 80px 0;
}

.subtitle {
    padding: 5px 10px;
    background: var(--secondary-bg-dim);
    border-radius: 100px;
    border: solid 1px var(--secondary-border-dim);
    width: max-content;
    font-size: 15px;
    color: var(--primary-text-dim);
    display: flex;
    align-items: center;
    gap: 5px;
}

h2 {
    font-size: var(--heading-2);
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--primary);
    text-transform: capitalize;
    max-width: 430px;
}

.heading-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading-sec * {
    margin: 0;
}


.btn-primary,
.btn-secondary {
    padding: 15px 25px;
    border-radius: 100px;
    transition: 0.2s;
    border: solid 1px transparent;
    text-transform: uppercase;
    width: max-content;
    display: flex;
    gap: 5px;
    align-items: center;
}

.btn-primary {
    background: var(--primary);
    color: var(--light);
}
.btn-primary:hover{
    color: var(--secondary);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    /* background: var(--secconday-dim); */
    /* color: var(--bg); */
    box-shadow: inset 0px 0 0 1px var(--secondary);
    /* border-color: var(--secondary-dim); */
    transition: 0.3s ease-in-out;
}

.btn-primary i,
.btn-secondary i {
    transition: 0.3s ease-in-out;
    transform: rotate(-45deg);
}

.btn-primary:hover i,
.btn-secondary:hover i {
    transform: rotate(0deg) translateX(10px);
}

.btn-secondary {
    border-color: var(--primary);
    color: var(--primary);
}

/* .btn-secondary:hover{
    color: var(--bg);
    box-shadow: inset 0px 0 0 1px var(--primary);
}
a.btn-secondary i{
    transition: 0.3s ease-in-out;
}
a.btn-secondary:hover i{
    transform: translateX(5px);
} */
.btn-secondary.alt {
    color: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary.alt:hover {
    color: var(--bg);
    box-shadow: inset 0px 0 0 1px var(--secondary);
}

.right-cnt,
.left-cnt,
.center-cnt {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.center-cnt {
    align-items: center;
    text-align: center;
}

.sec-img {
    width: 100%;
    max-width: 489px;
    height: 100%;
}

.sec-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

/********* header **********/
header {
    position: fixed;
    background: var(--bg);
    border-bottom: solid 1px var(--secondary-text-dim);
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    left: 0;
    top: 0;
    z-index: 99;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 80px;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: inherit;
}

nav ul li a {
    color: var(--primary);
    font-weight: 500;
}

button.mobile-menu-btn {
    display: none;
    gap: 10px;
    flex-direction: column;
    border: none;
}

.mobile-menu-btn span {
    width: 35px;
    height: 3px;
    background: var(--primary);
    border-radius: 13px;
    transition: 0.5s all;
    position: relative;
    border-radius: 5px;
    /* border: none; */
    /* outline: none; */
}

.mobile-menu-btn.active span:nth-child(1) {
    transform: translateY(10px) rotate(46deg);
}

.mobile-menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.mobile-menu-btn.active span:nth-child(3) {
    transform: translateY(-15px) rotate(-46deg);
}



/********* hero **********/
#hero {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px 0;
}

.fixed-img {
    /* transition: 0.3s; */
    animation: rotate 10s linear infinite;
    width: 140px;
}

/* #hero .container {
    height: 100%;
} */
.hero-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
    flex-wrap: wrap;
    margin-right: 30px;
    /* margin-left: calc(100% - 600px); */
    height: 100%;
    /* margin-top: 30px; */
    /* overflow: hidden !important; */
}

.hero-content h1 {
    color: var(--primary);
    font-size: var(--heading-1);
    font-weight: 500;
    line-height: 65px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.hero-content .buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.hero-image {
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}

.hero-image .img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* top: 0; */
    left: -13px;
    /* z-index: -1; */
    /* opacity: 0.7; */
    min-height: 75vh;
}

.fixed-img.white {
    position: absolute;
    bottom: calc(-0% + 8px);
    left: -60px;
}

/* animations */
@keyframes rotate {
    to {
        rotate: -360deg;
    }
}

/********* qualities **********/
#qualities {
    width: 100%;
    /* margin-top: -140px; */
}

.quality-card {
    display: flex;
    flex-flow: column;
    width: 100%;
    /* gap: 10px; */
}

.quality-card img {
    width: 100px;
    /* height: 140px; */
}

.quality-card h3 {
    max-width: 250px;
    font-size: var(--heading-3);
    font-weight: 500;
    color: var(--primary);
}

.quality-card hr {
    width: 80%;
    max-width: 154px;
    height: 3px;
    background-color: var(--secondary);
    border: none;
}

.quality-card p {
    max-width: 400px;
    font-size: var(--font-text);
}

/********* stats count *******/
#stats {
    width: 100%;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 30px;
    border-radius: 18px;
    /* flex-wrap: wrap; */
}

.stats span.hr {
    /* position: absolute; */
    background: var(--secondary-bg-dim);
    width: 1px;
    max-width: 154px;
    height: 102px;
    /* left: 50%; */
    margin: auto;
}

.count * {
    margin: 0;
}

.count {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.count h4 {
    font-size: var(--heading-1);
    font-weight: 500;
    color: var(--primary);
}

.count p {
    font-size: var(--text-2);
}

/********* why us **********/
#whyus {
    width: 100%;
    /* background: var(--bg-alt); */
    padding: 60px 0;
    background: linear-gradient(180deg, var(--bg-alt-2), var(--bg-alt));
}

.subtitle.alt {
    background: var(--secondary-bg-dim);
    color: var(--light);
}

.whyus h2 {
    color: var(--bg);
}

.whyus p,
.whyus li {
    color: var(--secondary-text-dim);
    /* font-size: 18px; */
}

.whyus li i {
    color: var(--primary-icon);
}

.whyus .btn-secondary {
    background: var(--light);
    color: var(--primary);
}


/********* products **********/
.products .heading-sec {
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
}

.products h2 {
    width: 100%;
    max-width: max-content;
    word-wrap: normal;
    text-align: center;
}

.product-carousel {
    width: 100%;
    border-radius: 5px;
}

.product-carousel .item {
    padding: 0 3px;
    border-radius: 5px;
}

.product-carousel img {
    border-radius: 5px;
}

.product-carousel>div {
    border-radius: 5px;
}

/********* lcl **********/
#lcl {
    width: 100%;
    background: var(--secondary-text-dim);
    padding: 60px 0;
}

.lcl * {
    margin: 0;
}

.lcl .cnt-img {
    display: flex;
    /* align-items: flex-end; */
    width: 100%;
    justify-content: center;
    position: relative;
}

.lcl .cnt-img .img {
    width: 100%;
    max-width: 489px;
}

.lcl .cnt-img .fixed-img.alt {
    bottom: 40px;
    right: -5px;
    position: absolute;
}

.lcl .right-cnt {
    height: 100%;
    justify-content: space-between;
}

.lcl ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lcl ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-text);
    font-size: var(--text-2);
}

.lcl ul li i {
    color: var(--primary-icon);
}


footer {
    /* margin-top: -80px; */
    width: 100%;
    background: var(--bg-alt);
    padding: 80px 0;
    background: linear-gradient(#043625, var(--bg-alt), black);
}

footer .cnt-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

footer hr {
    margin: 50px 0;
    background: var(--secondary-dim);
    height: 1px;
    border: none;
}

/********* contact form ***********/

/* #contact .cnt-links *{
    margin: 0;
} */
.contact {
    width: 100%;
    /* padding: 60px 0; */
}

.contact .center-cnt {
    max-width: 600px;
    margin: auto;
}

.contact h2 {
    max-width: 600px;
    word-wrap: normal;
    color: var(--light);
}

.contact p {
    color: var(--secondary-text-dim);
}

.contact .cnt-links .cnt-link {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact .cnt-links .cnt-link:last-child {
    align-items: flex-start;
}

.contact .cnt-links .cnt-link:hover .icon {
    background: var(--secondary);
    /* color: var(--secondary); */
}

.contact .cnt-links .cnt-link:hover .icon i {
    color: var(--primary-text);
}

.contact .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--secondary-bg-dim);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--secondary-border-dim);
    transition: 0.4s ease-in-out;
}

.contact .icon i {
    color: var(--secondary-border-dim);
    transition: 0.4s ease-in-out;
}

.contact .cnt-link>div {
    display: flex;
    flex-direction: column;
    gap: 0px;
    line-height: 1.2;
    color: var(--secondary-text);
}

.contact .cnt-links .cnt-link a {
    color: var(--secondary-text-dim);
    text-decoration: none;
}

.contact .cnt-links .cnt-link a:hover {
    color: var(--light);
}

.contact .cnt-links .cnt-link a:hover i {
    color: var(--primary);
}

form {
    padding: 16px;
    background: var(--light);
    border-radius: 25px;
    max-width: 500px;
    margin: auto;
    width: 100%;
}
form > .row > p{
    color: var(--primary);
}
.form-group {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    color: var(--primary);
    margin-bottom: 10px;
}

.form-group label {
    font-size: var(--text-2);
}

.form-group input,
.form-group textarea {
    padding: 10px 5px;
    border-radius: 5px;
    border: solid 1px var(--secondary-border-dim);
    color: var(--bg-alt);
    border: none;
    background: var(--bg);
}
.form-group input::placeholder,
.form-group textarea::placeholder{
    color: var(--primary-text-dim);
}
.form-group input {}

.form-group textarea {

}

.footer-cnt p,.footer-cnt ul{
    color: var(--secondary-text-dim);
    max-width: 400px;
}
.footer-cnt .copy-right{
    color: var(--secondary-border-dim);
    max-width: 400px;
}
.footer-cnt h3{
    color: var(--secondary-dim);
}
.footer-cnt ul a:hover{
    color: var(--secondary-dim);
}