body{
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    margin-top: 80px;
    background-color: var(--bg-color);
}



/* header */
header {
    position: fixed;
    background: #fffcfc;
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    left: 0;
    top: 0;
    z-index: 99;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 80px;
}


:root{
    --bg-color: #EBECEB;

}


/* hero */

.fixed-img img{
    /* transition: 0.3s; */
    animation: rotate 10s linear infinite ; 
}

/* animations */
@keyframes rotate{
    to{
        rotate: 360deg;
    }
}