body{
    font-family: 'Inter', sans-serif;
}

.mtop{
    margin-top: 80px;
}
.mdown{
    margin-bottom: 80px;
}
.mtopdown{
    margin-top: 80px;
    margin-bottom: 80px;
}
.ptop{
    padding-top: 80px;
}
.pdown{
    padding-bottom: 80px;
}
.ptopdown{
    padding-top: 80px;
    padding-bottom: 80px;
}
:root{
    --primary-color: #3bb877;
    --secondary-color: #35bc92;
    --text-color: #ffffff;
}


#hero {
    background: linear-gradient(45deg, #3bb877, #35bc92);
    color: white;
    height: 100vh;
    margin-top: 50px;
}
.hero-banner img {
    height: 450px !important;
    border-radius: 15px;
}
@media only screen and (max-width: 768px) {
    /* div#hero {
        height:;
    } */
    .hero-banner img {
        height: 300px !important;
    }
}

/* features */
.features-data {
    position: relative;
    border-radius: 10px;
    height: 341px;
    overflow: hidden;
}
.features-data::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #000000a1, #ffffff00);
}
.features-data h2 {
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #000000;
    width: 100%;
    z-index: 1;
    background: #ffffff;
    padding: 10px;
    bottom: -36px;
}

/* problem and solutions */
#problem .row {
    background: radial-gradient(#3bb87724, transparent, #fbfbfb);
}

#problem{
    background: #f8f8f8;
}
.titles{
    max-width: 768px;
}
.subheader {
    padding: 7px 9px;
    background: #00000021;
    border-radius: 31px;
    font-size: 15px;
    line-height: 1;
}

.problem-solution > p {
    max-width: 768px;
}

#problem .card {
    background: #ffffff;
    border: solid 1px white;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
    /* justify-content: space-between; */
    height: 100%;
    min-height: 250px;
    max-height: 450px;
    transition: 0.5s ease-in-out;
    /* background: radial-gradient(#f1fff824, white); */
}
#problem .card:hover {
    transform: translateY(-5px);
    /* background-color: #eaf5ff; */
    /* background: #3bb87815; */
    /* background: radial-gradient(#edfff624, white); */
    box-shadow: 0px 5px 17px -16px black;
}
.icon {
    display: flex;
    /* background: #ffffff; */
    color: #000000;
    /* height: 40px; */
    /* width: 40px; */
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 30px;
    width: max-content;
    /* max-width: max-content; */
    padding: 7px;
    margin-bottom: 5px;
    padding-left: 0;
}
.icon i {
    background: linear-gradient(45deg, #3bb877, #009547);
    background-clip: text;
    color: #009547;
}
/* .problem h4 {
    border: solid 1px #ffffff;
    font-size: 16px;
    font-weight: 400;
    background: #ffffff;
    background: #ff00000c;
    padding: 2px 8px;
    width: 100%;
    max-width: max-content;
    border-radius: 6px;
    color: #880000;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
} */
.problem h4 {
    border: solid 1px #ffffff;
    font-size: 16px;
    font-weight: 400;
    /* background: #ffffff; */
    background: #ff00000c;
    padding: 2px 8px;
    width: 100%;
    max-width: max-content;
    border-radius: 6px;
    color: #000000d4;
    letter-spacing: -0.3px;
    margin-bottom: 25px;
    /* font-weight: 600; */
    /* max-width: 170px; */
    /* color: #0000007a; */
    color: #a10000;
    font-size: 15px;
    font-weight: 300;
}
.problem h4 span {
    /* text-decoration: underline; */
    /* text-decoration-thickness: 3px; */
    /* text-underline-offset: 3px; */
    /* text-decoration-style: unset; */
    /* text-decoration-color: red; */
    font-weight: 500;
}
.solution h4 {
    font-size: 19px;
    font-weight: 600;
    color: #000000;

}
.solution p {
    line-height: 1.3;
    margin: 0;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #00000075;
}

/* review card */
.review-card {
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background: #f8f8f8;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
    border: solid 0.1rem transparent;
  }
  .review-card:hover {
    border: solid 0.1rem #a9ffba;
    background: #f0fff3a8;
    cursor:pointer;
}
  .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
  }
  a.review-user {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}
  .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-name {
    font-weight: 500;
    font-size: 1rem;
  }
  .stars {
    color: #f4b400; /* Google star color */
    font-size: 1.2rem;
  }
  .review-text {
    margin: 15px 0;
    font-size: 0.95rem;
    color: #444;
    flex-grow: 1;
  }
  .review-footer {
    text-align: right;
    font-size: 0.9rem;
    font-weight: bold;
    color: #666;
  }

/* cta  */

.cta{
    background: #3bb877;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px; 
    text-align: center;
    margin-bottom: 20px;   
    max-width: 900px ;
    margin: 0 auto;
}
.cta h2{
    font-size: 2.5rem;
    /* font-weight: 00; */
    margin-bottom: 10px;
}
.cta p{
    font-size: 16px;
    font-weight: 400;
    max-width: 425px ;
    margin: 0 auto;
    margin-bottom: 20px;
}
.cta button{
    background: #ffffff;
    color: #3bb877;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
