@media screen and (min-width: 1200px) {
    .lcl .cnt-img .fixed-img.alt {
        right: 53px;
    }
}

@media screen and (min-width: 768px) {
    .col-md-0 {
        display: none;
    }
}

@media screen and (max-width:1024px) {
    h1 {
        line-height: 1.1 !important;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --heading-1: 55px;
        --heading-2: 40px;
        /* --heading-3: 29px; */
    }

    .lcl ul {
        gap: 0px;
    }
}


@media screen and (max-width: 768px) {

    :root {
        --heading-1: 50px;
        --heading-2: 45px;
        /* --heading-3: 28px; */
    }

    /* .header nav ul {
        display: none;
    }
    .header nav ul.active {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background: white;
        width: 100vw;
        justify-content: center;
        z-index: 1;
    }
    button.mobile-menu-btn {
        display: flex;
        z-index: 2;
    }
    #hero {
        margin-top: 80px;
    } */

    #hero .btn-secondary {
        display: none;
    }

    .hero-content {
        align-items: center;
        text-align: center;
    }

    .hero-content h1 {
        line-height: 1;
    }

    .hero-image .img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: -13px;
        min-height: 40vh;
    }

    .fixed-img.white {
        display: none;
    }

    .fixed-img.alt {
        width: 100px;
    }

    .stats {
        flex-wrap: wrap;
    }

    .stats .count-item {
        width: 45%;
    }

    .stats span.hr:nth-child(even) {
        margin: auto;
    }

    .sec-img>img {
        min-width: 90vw;
    }

    form {
        width: 100%;
        max-width: 500px;
        margin: 20px auto 0;
        padding: 30px;
    }

    footer {
        padding-bottom: 10px;
    }


}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .stats span.hr.alt {
        display: none;
    }
}


@media screen and (max-width: 650px) {
    .product-carousel img {
        /* display: none !important; */
        /* width: 50px */
    }

    .lcl .cnt-img .img {
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (max-width: 576px) {

    :root {
        --heading-1: 40px;
        --heading-2: 35px;
        --heading-3: 29px;
    }

    .fixed-img.white {
        position: absolute;
        bottom: -53px;
        left: 168px;
        border: solid 2px white;
        border-radius: 100px;
    }

    .stats {
        flex-direction: column;
        max-width: 400px;
        margin: auto;
    }

    .stats span.hr {
        height: 32px;
    }

    form label {
        display: none;
    }
}

@media screen and (min-width: 470px) and (max-width: 768px) {
    .fixed-img.alt {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    header .btn-primary {
        /* display: none; */
        padding: 10px 14px;
        font-size: 15px;
    }

    .count h4 {
        font-size: 45px;
    }
}

@media screen and (max-width: 300px) {
    .fixed-img.alt {
        display: none;
    }
}